.App {
  font-family: 'Montserrat', Courier, monospace;  
  resize: both;
}

.mainLogo {
  margin-right: auto;
}

.Header {
  padding: 0.1rem 4rem;
  display: flex;
  align-items: center;
}

.Header > .home, .opportunities, .recruit, .aboutUs {
  margin-right: 2rem;
  white-space: nowrap;
  background-color: none;
}

.p:hover {
  background-color: #0e99ff;
}

.button {
    background-image: linear-gradient(to right, #0e99ff, #4334eb);
    border-radius: 3rem;
    border-style: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight:800;
    text-decoration: none;
    height: 2rem;
    width: 7rem;
    white-space: nowrap;
}

.welcome{
  /* background-image: url('../src/handsPatternUpdated.svg');
  background-repeat: no-repeat;
  background-color: white; */
  height: 52.5rem;
  background-size: 55rem;
  display: flex;
  flex-direction: column;
}

.welcome-bg-pattern{
  width: 50rem;
  position: absolute;
  z-index: -1;
}

.welcome-mainTitle{
  max-width: 500rem;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7rem;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  white-space: nowrap;
}

.welcome-subTitle{
  max-width: 500rem;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}

.welcome-button {
  max-width: 500rem;
  margin: 1rem auto;
  height: 2.7rem;
  width: 9rem;
}

.welcome-img {
  width: 45rem;
  padding-top: 20rem;
  position: absolute;
  right: 2rem;
  z-index: -1;
}

.review-container {
  background: url(review-bg.png) top left repeat, linear-gradient(to top, #0e99ff, #4334eb) no-repeat;
  background-size: contain;
  padding: 0;
  height: 70rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.review-h1 {
  color: white;
  font-weight: 600;
  width: 40rem;
}

/* .left-align {
  margin-left: 13vw;
  padding-top: 5rem;
  text-align: left;
}

.right-align {
  margin-right: 13vw;
  padding-top: 5rem;
  text-align: right;
} */


.left-align {
  padding-top: 5rem;
  text-align: left;
  padding-left: 10rem; 
}

.right-align {
  padding-top: 5rem;
  text-align: right;
  padding-right: 10rem; 
  align-self: flex-end;
}



.review-button {
    background-image: rgb(255, 255, 255);
    border-radius: 1.5rem;
    border-style: none;
    color: black;
    font-size: 1.4rem;
    font-weight:700;
    text-decoration: none;
    height: 2.8rem;
    width: 14rem;
    white-space: nowrap;
}

.feedback-container {
  display: inline-block;
  margin-left: 3rem;
  background-color: #ffffff;
  height: 27rem;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.feedback-container > p {
  padding: 0.8rem;
  margin: 0;
  text-align: left;
}
.feedback-profilePic{
  height: 6rem;
  width: 6rem;
  border-radius: 50%; 
}

.feedbackBlock-container {
  display: inline-block;
  padding-top: 10rem; 
  
}