.App {
  font-family: 'Montserrat', 'Courier', 'monospace';  
  resize: both;
}

.mainLogo {
  margin-right: auto;
}

.Header {
  padding: 0.1rem 4rem;
  position:fixed;
  z-index: 1000;
  background-color: #fff;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
}

.Header > .home, .opportunities, .recruit, .aboutUs {
  margin-right: 2rem;
  white-space: nowrap;
  background-color: none;
}

.p:hover {
  background-color: #0e99ff;
}

.button {
    background-image: linear-gradient(to right, #0e99ff, #4334eb);
    border-radius: 3rem;
    border-style: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight:800;
    text-decoration: none;
    height: 2rem;
    width: 7rem;
    white-space: nowrap;
}

.welcome{
  /* background-image: url('../src/handsPatternUpdated.svg');
  background-repeat: no-repeat;
  background-color: white; */
  height: 52.5rem;
  background-size: 55rem;
  display: flex;
  flex-direction: column;
}

.welcome-bg-pattern{
  width: 50rem;
  position: absolute;
  z-index: -1;
}


@keyframes multiLineTyping {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}


.welcome-mainTitle {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
  margin-top: 7rem;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  animation: multiLineTyping 6s steps(100, end);
}


.welcome-subTitle{
  max-width: 60%;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}

.welcome-button {
  max-width: 500rem;
  margin: 1rem auto;
  height: 2.7rem;
  width: 9rem;
}

.welcome-img {
  width: 45rem;
  padding-top: 20rem;
  position: absolute;
  right: 2rem;
  z-index: -1;
}

.review-container {
  background: url(review-bg.png) top left repeat, linear-gradient(to top, #0e99ff, #4334eb) no-repeat;
  background-size: contain;
  padding: 0;
  height: 70rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6rem;
}

.review-h1 {
  color: white;
  font-weight: 600;
  width: 40rem;
}

/* .left-align {
  margin-left: 13vw;
  padding-top: 5rem;
  text-align: left;
}

.right-align {
  margin-right: 13vw;
  padding-top: 5rem;
  text-align: right;
} */


.left-align {
  padding-top: 5rem;
  text-align: left;
  padding-left: 10rem; 
}

.right-align {
  padding-top: 5rem;
  text-align: right;
  padding-right: 10rem; 
  align-self: flex-end;
}



.review-button {
  background-image: rgb(255, 255, 255);
  border-radius: 1.5rem;
  border-style: none;
  color: black;
  font-size: 1.4rem;
  font-weight:700;
  text-decoration: none;
  height: 2.8rem;
  width: 14rem;
  white-space: nowrap;
}

.feedback-container {
  display: inline-block;
  margin-left: 3rem;
  background-color: #ffffff;
  height: 27rem;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.feedback-container > p {
  padding: 0.8rem;
  margin: 0;
  text-align: left;
}
.feedback-profilePic{
  height: 6rem;
  width: 6rem;
  border-radius: 50%; 
}

/* .feedbackBlock-container {
  display: inline-block;
  padding-top: 10rem; 
  
} */

/* Travel Card css  */

.header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px; 
  height: 55px; 
}

.header--title {
  font-weight: 500;
  color: white;
  padding-left: 7px;
  letter-spacing: -1px;
}

.mainSection {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 7.6rem;
}

.travelCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  max-width: 19rem;
  height: 28rem;
  border-radius: 1.5rem;
  padding-top: 2rem;
  background-color: #fff;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.mainSection::-webkit-scrollbar {
  width: 1px;
  height: 0.5em;
}
 
.mainSection::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.2); */
  margin-left: 10.1rem;

}
 
.mainSection::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  outline: 0px thin none;
  border-radius: 20px;
}


.travelCard--img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.travelCard--content {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.travelCard--pinLogo {
  width:7px;
  padding-right: 5px;
}

.travelCard--location {
  font-size: 10.2px;
  padding-right: 12px;
  letter-spacing: 3px;
  text-align: left;
  padding-left: 1.5rem;
}

.travelCard--googleMapLink {
  color: #918E9B;
  font-size: 10.2px;
  text-align: left;
  padding-left: 1.5rem;
}

.travelCard--name {
  font-weight: 900;
  color: #2B283A;
  font-size: 25px;
  padding-bottom: 2px;
  padding-top: 4px;
}

.travelCard--title {
  font-weight: 700;
  color: #2B283A;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 2px;
}

.travelCard--date {
  font-weight: bold;
  font-size: 10.2px;
  padding-bottom: 10px;
}

.travelCard--description {
  font-size: 15px;
  width: 85%;
  align-self: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: left;
}

/* Travel Card css  */

.contactUs--container {
  background-size: contain;
  padding: 0;
  height: 67rem;
  display: flex;
  flex-direction: column;
}

.contactUs-bg-pattern{
  width: 65.6rem;
  position: absolute;
  right: 0;
  transform: rotate(180deg);
}

/* Default styles */
.contactUs-mainTitle,
.contactUs-subTitle {
  animation: none;
  width: 50%;
  justify-content: left;
  position: relative;
  left: 0;
  text-align: left;
  margin-left: 10rem;
  margin-right: auto;
  overflow: visible;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.contactUs--eachImage {
  height: 18rem;
  border-radius: 3rem;
  width: 100%;   /* This ensures the image takes the full width of its container */
  object-fit: cover;
  object-position: center 10%;
}

.contactUs--images {
  width: 54rem;
  margin-left: 9rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns  s*/
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */ 
  gap: 1rem
}

.emailUs-container {
  background: url(review-bg.png) top left repeat, rgb(14, 14, 14) no-repeat;
  background-size: contain;
  margin-top: 4rem;
  padding-top: 10rem;
}

.emailUs-elementContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emailUs-element {
  flex-direction: row;
  margin-left: 10rem;
  margin-right: 10rem;
  height: 12rem;
}

.emailUs-mainText {
  font-size: 2rem;
  font-weight:500;
  color:white;
  margin-bottom: 0;
  flex-direction: column;
}

.emailUs-subText {
  font-size: 0.6rem;
  color:white;
  max-width: 10rem;
}

.emailUs-buttonContainer {
  
}

.emailUs-button {
  font-size: 1.2rem;
  max-width: 500rem;
  height: 2.7rem;
  width: 10rem;
}

.whiteBg {
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  color: black;
}



